* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: black;
  color: white;
  padding: 10px;
}

input {
  margin-left: 10px;
}

.header-text {
  color: yellow;
}

.text-area {
  position: relative;
}

.dragme-text {
  color: white;
  position: absolute;
  top: 200px;
  right: 15px;
}

.position-text {
  position: absolute;
  left: 10px;
  top: 10px;
}

.display-area {
  height: 400px;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.footer {
  background-color: black;
  height: 75px;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding-top: 30px;
  cursor: pointer;
}

.initial {
  margin: auto;
  margin-left: 10%;
  height: 250px;
  width: 400px;
  border: 1px solid black;
  background-color: grey;
}

#item:hover {
  border: 5px solid blue;
}

.rectangle {
  margin: auto;
  height: 250px;
  width: 400px;
  border: 1px solid black;
  background-color: grey;
}

.new-class {
  height: 250px;
  width: 400px;
  border: 1px solid black;
  background-color: grey;
  position: absolute;
  bottom: 75px;
  right: 0;
}
